@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  font-family: 'Roboto';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color:rgb(251, 238, 219);
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.table {
  width: 90% !important;
}

.animate-modal {
  background-color:rgb(251, 238, 219);
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  opacity: 0;
  transform: translateY(-50px);
  animation: fadeInDown 0.3s ease forwards;
}

@keyframes fadeInDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(189, 189, 189, 0.9);
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: .75rem;
}

.image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.form-container {
  background-image: url(./images/gradient.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 150px;
  width: 400px;
  height: 400px;
  margin-left: 450px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-input {
  width: 300px !important;
}

.accordion-button::after {
  display: none; /* Hides the arrow */
}

.accordion-button:focus {
  outline: none !important;  /* Removes the button outline */
  box-shadow: none !important;  
}

